{
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules" :{
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/no-unused-vars": "error"
  }
}
